<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/homeStudent">Estudiante</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/notesStudent">Apuntes</a>
        <a class="nav-link active" routerLink="/searchCourse">Prerequisitos</a>
        <a class="nav-link active" routerLink="/coursesStudent">Cursos asignados</a>
        <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      </div>
      <div class="nav-item dropdown ms-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{nameUser}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="navbarDropdown">
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Salir</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>
